*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    scroll-behavior: smooth;
    position: relative;
}
.wrapper{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #000!important;
    opacity: .5;
}
/*------------NAVBAR--------------*/
.logo{
    width: 60px;
}
.navbarr{
    width: 100%;
    padding: 15px 0;
    /*position: sticky!important;*/
    color: silver;
    z-index: 9999;
    display: flex;
    transition: .5s;
    position: absolute;
    top:100px;

}
.navbar__not-at-top{
    background-color: rgba(0,0,0,.5)!important;
    padding: 10px!important;
}
.navbarr-title{
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    height: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.navbarr-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbarr-items{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.navbarr-item{
    display: flex;
    padding: 15px;
    position: relative;
}
.navbarr-link{
    color: silver;
    text-decoration: none;
    list-style: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 11px;
}
.navbarr-link:hover{
    color: #fff!important;
    opacity: 1;
}

.subnavbar-item{
    background: rgba(26,26,26,0.9);
    border-bottom: 1px solid rgba(73,71,71,.15);
    padding: 11px 15px;
}
.subnavbar-item:hover{
    background: rgba(73,71,71,0.9);
    border-bottom: 1px solid rgba(73,71,71,.15);
}
.subnavbar-item:hover .subnavbar-link{
    color: #fff;
}
.subnavbar-items{
    position: absolute;
    min-width: 180px;
    flex-direction: column;
    z-index: 1000;
    top:80%;
    left: -50%;
    list-style-type: none;
    display: none;
    transition: 1s;
    padding: 5px 0;
    margin: 2px 0 0;
}
.subnavbar-link{
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(73, 71, 71, 0.15)!important;
    color: #999;
    font-weight: 400;
    line-height: 1.42857143;
    clear: both;
    display: block;
}
.subnavbar-link:hover{
    color: #fff!important;
    opacity: 1;
}
.subnav:hover > .subnavbar-items{
    display: flex;
}

/* -             - -- ----- - - -- - - */
.main-slider{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
/*-----------SLIDER--------------------*/
.swiper-container, .swiper-container2{
    width: 100%;
    height: 100%;
}
.swiper-button-next,.swiper-button-prev{
    color: silver!important;
}
.swiper-pagination-bullet-active{
    background: silver!important;
}
.swiper-wrapper{
}
.image-block{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-block:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2,2,2,.6);
    height: 100%;
    width: 100%;
}
.swiper-slide{
    position: relative;
}
.image-block__container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-block__title{
    letter-spacing: 8px;
    font-size: 46px;
    text-transform: uppercase;
    color: #fff;
    z-index: 999;
    text-align: center;
}
.image-block__button{
    padding: 8px 37px;
    letter-spacing: 2px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    margin-top: 40px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-transform: uppercase;
    transition: .5s;
}
.image-block__button:hover{
    color: #000;
    background-color: #fff;
    transition: .5s;
}

/*-------------WHAT WE DO----------------*/
.what-we-do{
    padding: 40px 0;
}
.wwd__title{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wwd__title__text{
    width: 50%;
}
.wwd__title__subtext-main{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 0 0 70px;
}
.wwd__title__subtext-submain{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #111;
    margin: -35px 0 70px;
    text-align: center;
    font-family: Volkhov,"Times New Roman", sans-serif;
    font-style: italic;
}
.wwd__row{
    width: 90%;
    margin: 0 auto!important;
}
.wwd__feature{
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 ;
}
.wwd__feature__icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}
.wwd__feature__title{
    font-size: 13px;
    margin: 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #666;
}
.wwd__feature__text{
    font: 400 12px/1.8 "Open Sans", sans-serif;;
    color: #666;
}
.wwd__image{
    text-align: center;
}
/*   feedback*/

.feedback{
    width: 100%;
    background-image: url(../pic/wrought-iron3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}
.feedback:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(2,2,2,.4);
}
.feedback__slider{
    width: 100%;
    padding: 140px 0;
    z-index: 99;
    overflow: hidden;
}
.feedback__slider .swiper-slide{
    background: transparent;
    width: 50%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.feedback__slider__title{
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.feedback__slider__title h2{
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 70px;
    color: #fff;
}
.feedback__slider__slide{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.feedback__slider__slide span{
    font-size: 32px;
    margin-top: -20px;
}
.feedback__slider__slide__text{
    margin-top: 40px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.feedback__slider__slide__author{
    font-size: 14px;
    margin: 40px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.feedback__slider__slide__author__address{
    font-size: 11px;
    opacity: .5;
    padding: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
.work{
    padding: 40px 0 0;
}
.work__text{
    color: #111;
    font-size: 14px;
    margin: 0 0 6px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
}
.work__title{
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 0 0 70px;
    text-transform: uppercase;
    line-height: 1.4;
}
.work__categories{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}
.work__category{
    text-decoration: none;
    color: #111;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 0 0 10px;
    margin: 0 25px;
}
.work__category:hover{
    opacity: .5;
    color: #111;
}
.work__images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    width: 100%;
    grid-gap: 15px;

}
.work_img:hover{
    cursor: pointer;
    opacity: .3;
    transition: .5s;
    transform: rotateZ(1deg) scale(1.1);
}
.work__image{
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 350px;
}
.work_img{
    transition: .5s!important;
}
.work__image__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-500%);
    z-index: 0;
    transition: .5s;
}
.work__image__text h2, .work__image__text p{
    color: #111;
    font-size: 14px;
    margin: 0 0 6px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.work__image__text p{
    color: #666666;
    font-size: 11px;
}
.work__image:hover .work__image__text{
    transform: translate(-50%,-50%);
}
.more{
    background-color: #111;
    padding: 40px 0;
    color: #fff;
    position: relative;
}
.more__text{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.more__text h3{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.more__text p{
    margin: 0 0 20px;
    font-size: 12px;
}
.btn{
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase!important;
    letter-spacing: 2px!important;
    font-size: 11px!important;
    padding: 8px 37px!important;
}
.btn-w{
    background: rgba(255, 255, 255, 0.8) !important;
    color: #111;
}
.btn-round{
    border-radius: 2px;
}
.btn-w:hover{
    background-color: #fff!important;
}

.projects{
    position: relative;
    padding: 40px 0;
}

.post-columns{
    width: 90%;
    margin: 0 auto!important;
}
.post{
    margin: 0 0 60px;
}
.post__image{
    margin: 0 0 20px;
}
.post__image a:hover{
opacity: 1;
}
.post__image img {
    width: 100%;
}
.post__header a{
    text-decoration: none;
    color: #111;
}
.post__header{
    margin: 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.post__header__title{
    line-height: 1.8;
    font-size: 14px;
    color: #111;
    margin: 0;
    font-weight: 400;
}
.post__header__meta{
    font-size: 11px;
    color: #aaa;
}
.post__entry{
    font: 400 12px/1.8 "Open Sans", sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.contact{
    background-image: url("../images/contact.jpg");
    background-position: 13% 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    position: relative;
    padding: 40px 0;
    z-index: 0!important;
}
.contact:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2,2,2,.5);
    z-index: -1;
}
.white{
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.contact__title{
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 70px;
}
.contact__subtitle{
    margin-bottom: 70px;
}
.contact-form{
    position: relative;
    padding: 40px 0;
}
.contact-form h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666!important;
    line-height: 1.4;
    font-weight: 400;
    font-size: 18px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
}
.form-group{
    margin-bottom: 15px;
}
.form-control{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px!important;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 2px!important;
    transition: all 0.4s ease-in-out 0s;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    padding: 6px 12px;
    width: 100%;
    box-shadow: none;
    margin: 0;

}
textarea{
    height: auto!important;
}
.btn-d{
    background: rgba(17, 17, 17, 0.8) !important;
    color: #fff!important;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 8px 37px;
    width: 100%;
}
.btn-d:hover{
    background: #000!important;
    color: #fff!important;
}
.btn-d:focus{
    outline: none!important;
    border: 0!important;
    box-shadow: none!important;
}

.contact-form p, .contact-form li{
    font: 400 12px/1.8 "Open Sans", sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
}
.map-section{
    width: 100%;
    height: 450px;
    display: block;
    position: relative;
}
#map{
    height: 100%;
    width: 100%;
}
.foot{
    padding: 40px 0;
    position: relative;
    background: #111;
    color: #fff;
}
.widget-title{
    border-bottom: 1px dotted #c2c2c2;
    font-size: 14px;
    padding: 0 0 10px;
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
    font-weight: 400;
}
.widget p{
    margin: 0 0 20px;
    font: 12px/1.8 "Open Sans", sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
.widget a{
    text-decoration: none;
    color: #aaaaaa;
}
.widget a:hover{
    color: white!important;
    opacity: 1;
}
.widget ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-posts li:last-child {
    margin: 0;
}
.widget-posts-image{
    float: left;
    width: 64px;
}
.widget-posts-body{
    margin-left: 74px;
}
.widget-posts-body a{
    text-decoration: none;
    opacity: 1;
    font: 12px/1.8 "Open Sans", sans-serif!important;
    font-weight: 600!important;
    -webkit-font-smoothing: antialiased;

}
.widget-posts-body a:hover{
    color: #ffffff!important;
    opacity: 1;
}
.widget-posts-meta{
    margin: 0 0 20px;
    font: 12px/1.8 "Open Sans", sans-serif!important;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
.footer{
    padding: 10px 0;
    background: #111;
    color: white;

}
.copyright{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}
.copyright a{
    text-decoration: none;
    color: #aaa;
}
.copyright a:hover{

    color: #fff!important;
    opacity: 1;
}
.footer-social-links{
    text-align: right;
    color: white;
}
.footer-social-links a{
    color: #aaaaaa;
}
.footer-social-links a:hover{
    color: #fff!important;
    opacity: 1;
}
.divider-d{
    border-bottom: 1px solid #202020 !important;
    margin: 0!important;
    opacity: 1;
}

